 html {
      font-family: sans-serif;
      background: #ffc600;
    }

    .inbox {/* paper page */
      max-width: 400px;
      margin: 50px auto;
      background: white;
      border-radius: 5px;
      box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
    }

    .item { /* flex todo list of tems*/
      display: flex;
      align-items: center;
      border-bottom: 1px solid #F1F1F1;
    }

    .item:last-child {
      border-bottom: 0;
    }

    input:checked + p { /*pseudo class, targets the <input> element (checkbox) in a checked state, (+ p): Selects the label <p> element that is immediately adjacent to the checked <input>.*/
      background: #F9F9F9;
      text-decoration: line-through;
    }

    input[type="checkbox"] { /* to style the checkbox*/
      margin: 20px;
    }

    p { /* label list item */
      margin: 0;
      padding: 20px;
      transition: background 0.2s;
      flex: 1; /* Each item will take an equal share of the available space grows/shrinks proportionally between items in a flex container */
      font-family:'helvetica neue';
      font-size: 20px;
      font-weight: 200;
      border-left: 1px solid #D1E2FF;
    }